<div class="todo-item d-flex justify-content-between align-items-center" (mouseover)="isHover = true"
    (mouseout)="isHover=false">
    <div class="todo">
        <input type="checkbox" [ngClass]="{'checked': todos.isCompleted}" (change)="changeTodoStatus()" [id]="todos.id"
            class="toggle text-center" [checked]="todos.isCompleted">
        <label [@fadeStrikeThrough]="todos.isCompleted ? 'completed':'active'"
            [for]="todos.id">{{todos.content}}</label>
    </div>
    <div class="d-flex align-items-center">
        <span class="icon-wrapper text-center edit" (click)="isEditing = true" [hidden]="todos.isCompleted"
            [ngClass]="{'active': isHover}">
            <i class="iconify" data-icon="ant-design:edit-filled"></i>
        </span>
        <span class="icon-wrapper text-center" (click)="removeTodo()" [ngClass]="{'active': isHover}">
            <i class="iconify" data-icon="ant-design:close-circle-outlined"></i>
        </span>
    </div>

    <form class="edit-form" *ngIf="isEditing" (keyup)="submitEdit($event)">
        <input type="text" name="editTodo" [(ngModel)]="todos.content">
    </form>
</div>