.icon-wrapper{
    width: 60px;
    line-height: 45px;
    font-size: 60px;
    color:rgb(77, 75, 75);
    background: transparent ;
    transition: 250ms all ;
    cursor: pointer;

    &:hover{
        .iconify{
            color: black;
        }
    }
}

app-todo-input{
    width: 100%;
}
